{% extends "herencia.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">resultados de la busqueda de comisiones</h1>
{% endblock %}

{% block contenido_que_cambia %}

{% if comisiones %}

<h2>LISTADO DE Comisiones</h2>
<table>
    <thead>
        <tr>
            
            <th>ID</th>
            <th>Curso</th>
            <th>Comision</th>
            
        </tr>
    </thead>
    <tbody>



        {% for comision in comisiones %}
        <tr>
            
            <td>
                {{ comision.id}}
            </td>
            <td>
                {{ comision.curso}}
            </td>
            <td>
                {{ comision.comision}}
            </td>
            
            
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<h2>NO HAY CURSOS QUE RESPONDAN A ESA BUSQUEDA</h2>

{% endif %}



{% endblock %}